name: Scrape Analyst Rating
on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 2 * *' # At 13:00 on day-of-month 2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo content
        uses: actions/checkout@v4 # checkout the repository content to github runner

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # install the python version needed
          
      - name: Install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      # - name: Install Chrome
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y chromium-browser
      - name: Install Playwright Browsers
        run: playwright install --with-deps chromium

      - name: Execute py script # run main.py
        env:
            SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
            SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python analyst_main.py
          
      - name: Pull changes
        run: git pull origin main
          
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)
          
      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 